.setup {
    background: lightgrey;
    
}

.punchline {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
    position: relative;
    background: silver;
    padding: 10px;
    width: 70%;
    margin: 10px auto;

}

.setup:hover ~ .punchline {
    opacity: 1;
    visibility: visible;
}

/* .punchline:hover {
    opacity: 1;
    visibility: visible;
} */